<header>
  <nav class="nav"> 
    <a title="Home"  href="./index.html" class="nav__icon button"> <i class="fa-solid fa-house"></i></a>

    <!-- <label class="hamburger js_menu">
      <input type="checkbox">
      <svg viewBox="0 0 32 32">
        <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
        <path class="line" d="M7 16 27 16"></path>
      </svg>
    </label>
    <div class="wrapper-menu js-wrapper " id="modal">
      <nav>
        <ul class="list-menu">
          <li class="nav__list-section"> <a class="button" title="Ir a Sobre mí"  href="./index.html"> <i class="fa-solid fa-house"></i>
            Inicio</a>
          
          </li> 
          <li class="nav__list-section"> <a class="button" title="Ir a Sobre mí"  href="./sobre-mi.html"><i class="fa-solid fa-person-dress"></i>
            Sobre mí </a>
          
          </li> 
         
        
           <li class="nav__list-section ">   <a  class="button" title="Ir a Proyectos"  href="./proyectos.html"><i class="fa-solid fa-rocket"></i>
          Proyectos
          </a>
          <span></span></li>
           <li class="nav__list-section ">  <a  class="button"   title="Ir a Contacto"  href="./contacto.html"><i class="fa-solid fa-envelope"></i>
            Contacto 
          </a><span></span>
          </li>
          
          </ul>
      </nav>
    </div> -->
    <div>
      <ul class="menu-mobile">
        <li><a title="Home"  href="./index.html"><i class="fa-solid fa-house"></i></a></li>
        <li><a title="Ir a Sobre mí"  href="./sobre-mi.html"><i class="fa-solid fa-person-dress"></i></a></li>
        <li><a title="Ir a Proyectos"  href="./proyectos.html"><i class="fa-solid fa-rocket"></i></a></li>
        <li><a title="Ir a Contacto"  href="./contacto.html"><i class="fa-solid fa-envelope"></i> </a></li>
      </ul>
    </div>
    <ul class="nav__list">

      <li class="nav__list-section"> <a class="button" title="Ir a Sobre mí"  href="./sobre-mi.html">
        Sobre mí </a>
        <a></a>
    
    </li> 
   

       <li class="nav__list-section ">   <a  class="button" title="Ir a Proyectos"  href="./proyectos.html">
      Proyectos
      </a>
      <a></a></li>
     <li class="nav__list-section ">  <a  class="button"   title="Ir a Contacto"  href="./contacto.html">
        Contacto 
      </a><span></span>
    </li>
      
    </ul>
  </nav>
</header>