<header>
    <nav class="nav"> 
      <a title="Home"  href="../index.html" class="nav__icon"> <i class="fa-solid fa-house"></i></a>
      <ul class="nav__list">
        <a class="nav__list-section" title="Ir a Sobre mí"  href="../sobre-mi.html">
        <li> Sobre mí</li> 
      </a>
         <a  class="nav__list-section"title="Ir a Proyectos"  href="../proyectos.html">
          <li> Proyectos</li>
        </a>
        <a   class="nav__list-section" title="Ir a Contacto"  href="../contacto.html">
          <li> Contacto </li>
        </a>
        
      </ul>
    </nav>
  </header>