<header>
  <nav class="nav"> 
    <a title="Home"  href="./index.html" class="nav__icon button"> <i class="fa-solid fa-house"></i></a>

    <div class="menu-nav">
      <ul class="menu-mobile">
        <li><a title="Home"  href="./index.html"><i class="fa-solid fa-house"></i></a></li>
        <li><a title="Ir a Sobre mí"  href="./sobre-mi.html"><i class="fa-solid fa-person-dress"></i></a></li>
        <li><a title="Ir a Proyectos"  href="./proyectos.html"><i class="fa-solid fa-rocket"></i></a></li>
        <li><a title="Ir a Contacto"  href="./contacto.html"><i class="fa-solid fa-envelope"></i> </a></li>
      </ul>
    </div>
    <ul class="nav__list">

      <li class="nav__list-section"> <a class="button" title="Ir a Sobre mí" id="sobreMi"  href="./sobre-mi.html">
        Sobre mí </a>
        <a></a>
    
    </li> 
   

       <li class="nav__list-section ">   <a  class="button" title="Ir a Proyectos" id="proyectos" href="./proyectos.html">
      Proyectos
      </a>
      <a></a></li>
     <li class="nav__list-section ">  <a  class="button"   title="Ir a Contacto" id="contacto"  href="./contacto.html">
        Contacto 
      </a><span></span>
    </li>
      
    </ul>
  </nav>
</header>