<main class="main-landing">
	<div class="wrapper-menu js-wrapper hidden">
		<nav>
			<ul class="list-menu">
				<li class="nav__list-section"> <a class="button" title="Ir a Sobre mí"  href="./index.html"> <i class="fa-solid fa-house"></i>
					Inicio</a>
				
				</li> 
				<li class="nav__list-section"> <a class="button" title="Ir a Sobre mí"  href="./sobre-mi.html"><i class="fa-solid fa-person-dress"></i>
				  Sobre mí </a>
			  
			  </li> 
			 
		  
				 <li class="nav__list-section ">   <a  class="button" title="Ir a Proyectos"  href="./proyectos.html"><i class="fa-solid fa-rocket"></i>
				Proyectos
				</a>
				<span></span></li>
			   <li class="nav__list-section ">  <a  class="button"   title="Ir a Contacto"  href="./contacto.html"><i class="fa-solid fa-envelope"></i>
				  Contacto 
				</a><span></span>
			  </li>
				
			  </ul>
		</nav>
	</div>
    <div id="grid-container" class="grid-container"></div>
	<div class="card">
		<h1>Bienvenido</h1>
		<p>Soy Laura, Junior web developer</p>
		<button > <a  title="Ir a Sobre mí"  href="./sobre-mi.html">
			 Conóceme </a></button>
	</div>
</main>