
 <main>
    <div class="header">
      <h1 class="title"> ¡Hi  <i class="em em-woman-raising-hand" aria-role="presentation" aria-label=""></i>! Soy Laura García</h1>
      <p class="sutitle"> <i class="em em-computer" aria-role="presentation" aria-label="PERSONAL COMPUTER"></i> Junior web developer <i class="em em-computer" aria-role="presentation" aria-label="PERSONAL COMPUTER"></i></p>
      <svg class="waves" width="1440px" height="151px" viewBox="0 0 1440 151" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M912.991178,66.4593918 C797.063995,82.3093166 700.419678,99.9377008 407.073503,99.9377008 C113.727328,99.9377008 -65.7078119,79.5645454 -65.7078119,79.5645454 L4.60677034,177.012232 L1459.69351,177.012232 C1459.69351,177.012232 1758.75555,11.6921642 1603.51394,1.88562492 C1448.27233,-7.92091441 1028.91836,50.609467 912.991178,66.4593918 Z" id="wavey" fill="#FFFFFF" opacity="1"></path>
    </svg>
      <div class="particles">
            <!--data-aos="fade-down"-->
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
        </div>
    </div>
  </main>