/*fuentes*/
/*colores*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  text-decoration: none; }

@media all and (min-width: 768px) {
  .sutitle {
    font-size: 2rem; } }

.nav {
  height: 7vh;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem; }
  @media all and (min-width: 768px) {
    .nav {
      justify-content: center;
      display: flex;
      justify-content: space-between; } }
  .nav__icon {
    display: none; }
    @media all and (min-width: 768px) {
      .nav__icon {
        display: flex;
        font-size: 2rem !important; } }
  .nav__list {
    display: none; }
    @media all and (min-width: 768px) {
      .nav__list {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        font-size: 1.5rem;
        display: flex; } }

.title, subtitle {
  text-align: center; }

.button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color; }

.button:focus,
.button:hover {
  color: #fff; }

.button:focus:after,
.button:hover:after {
  width: 100%;
  left: 0%; }

.button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left; }

.hamburger {
  cursor: pointer;
  display: flex;
  justify-content: right;
  z-index: 4;
  position: relative; }
  @media all and (min-width: 768px) {
    .hamburger {
      display: none; } }

.hamburger input {
  display: none; }

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1); }

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }

.line-top-bottom {
  stroke-dasharray: 12 63; }

.hamburger input:checked + svg {
  transform: rotate(-45deg); }

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42; }

.menu-mobile {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  cursor: pointer; }
  @media all and (min-width: 768px) {
    .menu-mobile {
      display: none; } }

.menu-mobile li a i {
  color: white;
  font-size: 1.2rem; }

.menu-nav ul li .active {
  transition: all 0.5s ease-out;
  color: red; }

.footer {
  color: white;
  margin: 0.5rem;
  background-color: #283148;
  height: 5vh; }
  @media all and (min-width: 768px) {
    .footer {
      height: 3vh; } }
  .footer__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 0.7rem;
    margin-right: 0.7rem; }
    @media all and (min-width: 768px) {
      .footer__list {
        margin-left: 1rem;
        margin-right: 1rem; } }

.main {
  position: relative;
  top: 100px;
  text-align: center; }

.wrapper-menu {
  position: absolute;
  z-index: 2;
  width: 250px;
  height: 170px;
  padding: 20px;
  background: linear-gradient(135deg, #4a6572 0%, #283148 100%);
  color: #f4f4f4;
  right: 4%;
  top: 1%;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  @media all and (min-width: 768px) {
    .wrapper-menu {
      display: none; } }

.list-menu li {
  margin-top: 7px; }

.hidden {
  display: none; }

@media all and (min-width: 768px) {
  .sutitle {
    font-size: 2rem; } }

.nav {
  height: 7vh;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem; }
  @media all and (min-width: 768px) {
    .nav {
      justify-content: center;
      display: flex;
      justify-content: space-between; } }
  .nav__icon {
    display: none; }
    @media all and (min-width: 768px) {
      .nav__icon {
        display: flex;
        font-size: 2rem !important; } }
  .nav__list {
    display: none; }
    @media all and (min-width: 768px) {
      .nav__list {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        font-size: 1.5rem;
        display: flex; } }

.title, subtitle {
  text-align: center; }

.button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color; }

.button:focus,
.button:hover {
  color: #fff; }

.button:focus:after,
.button:hover:after {
  width: 100%;
  left: 0%; }

.button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left; }

.hamburger {
  cursor: pointer;
  display: flex;
  justify-content: right;
  z-index: 4;
  position: relative; }
  @media all and (min-width: 768px) {
    .hamburger {
      display: none; } }

.hamburger input {
  display: none; }

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1); }

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }

.line-top-bottom {
  stroke-dasharray: 12 63; }

.hamburger input:checked + svg {
  transform: rotate(-45deg); }

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42; }

.menu-mobile {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  cursor: pointer; }
  @media all and (min-width: 768px) {
    .menu-mobile {
      display: none; } }

.menu-mobile li a i {
  color: white;
  font-size: 1.2rem; }

.menu-nav ul li .active {
  transition: all 0.5s ease-out;
  color: red; }

.about-me_main {
  background: linear-gradient(#283148, white, #283148);
  overflow-y: scroll;
  height: 80vh; }

.about_me {
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-family: "Roboto Slab", serif; }
  .about_me__text {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 0.5rem;
    text-align: center; }
    @media all and (min-width: 768px) {
      .about_me__text {
        flex-direction: row-reverse; } }
  .about_me__photo {
    background-image: url(../images/laura.jpeg);
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 150%; }
    @media all and (min-width: 768px) {
      .about_me__photo {
        border-radius: 30%;
        background-position: center;
        height: 200px; } }
    @media all and (min-width: 1000px) {
      .about_me__photo {
        border-radius: 10%;
        background-position: center;
        height: 250px;
        width: 70%; } }
  .about_me__tech {
    text-align: center;
    color: #4a6572;
    font-family: "Roboto Slab", serif; }
    .about_me__tech-list {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      justify-content: center;
      color: #283148;
      margin: 1rem 2.5rem 1rem 2.5rem;
      font-size: 2rem; }
  .about_me__skill {
    text-align: center;
    color: #4a6572;
    font-family: ' $font-title'; }
    .about_me__skill-list {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem 2.5rem 1rem 2.5rem;
      font-size: 1rem;
      padding-bottom: 21px; }

.skill_list {
  border: 3px;
  padding: 0.5rem;
  border-radius: 20px; }

.skill {
  border: 0.3rem solid #4a6572;
  padding: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 16px 0px;
  margin-bottom: 0.5rem;
  background: linear-gradient(135deg, #4a6572 0%, #283148 100%);
  color: white; }

.main-contacto {
  height: 80vh; }

.main-contacto p {
  color: #FFF;
  text-align: center;
  margin: 10px; }

.social-links, .flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center; }

.social-btn svg {
  height: 24px;
  width: 24px; }

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px; }

.social-btn:hover {
  width: 150px;
  border-radius: 5px; }

.social-btn:hover span {
  padding: 2px;
  width: 80px; }

#twitter svg {
  fill: #1da1f2; }

#linkedin svg {
  fill: #0e76a8; }

#github {
  fill: #333; }

.mail {
  cursor: pointer;
  color: #FFF; }

.mail:hover {
  color: #81e9ae; }

.span {
  color: #4a6572; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #283148;
  overflow: hidden;
  font-family: 'Roboto', sans-serif; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1; }

.emoji {
  font-size: 24px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.show-emoji {
  animation: fadeChange 3s infinite; }

@keyframes fadeChange {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 0.4; } }

.card {
  position: absolute;
  z-index: 2;
  width: 300px;
  padding: 20px;
  background: linear-gradient(135deg, #4a6572 0%, #283148 100%);
  color: #f4f4f4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  @media all and (min-width: 768px) {
    .card {
      width: 500px;
      height: 250px;
      font-size: 1.5rem; } }

.card button {
  margin-top: 10px;
  background: #33e4d4;
  border: none;
  padding: 10px 20px;
  color: #283148;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s; }
  @media all and (min-width: 768px) {
    .card button {
      margin-top: 30px;
      padding-left: 50px;
      padding-right: 50px; } }

.card button:hover {
  background: #33e4b5; }

.body-projects {
  overflow-y: scroll; }

@media all and (min-width: 768px) {
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media all and (min-width: 1000px) {
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; } }

.title {
  color: #f4f4f4;
  text-align: center;
  margin-top: 15px; }

.box-project {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-top: 10px;
  background: linear-gradient(to bottom right, #f4f4f4, #c3c3c3bb);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding-bottom: 10px;
  margin-bottom: 15px; }
  @media all and (min-width: 768px) {
    .box-project {
      width: 60%; } }
  .box-project__img {
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0 0; }
    @media all and (min-width: 768px) {
      .box-project__img {
        height: 240px; } }
  .box-project__contador {
    background-image: url(../images/contador-letras.png);
    background-position: 60% 12%; }
    @media all and (min-width: 768px) {
      .box-project__contador {
        background-position: 8% 5%; } }
  .box-project__generador {
    background-image: url(../images/generador.png);
    background-position: 8% 5%; }
  .box-project__breaking-bad {
    background-image: url(../images/breaking-bad.jpg); }
    @media all and (min-width: 768px) {
      .box-project__breaking-bad {
        background-position: 50%; } }
  .box-project__anonymus {
    background-image: url(../images/cover.jpeg); }
  .box-project__juego {
    background-image: url(../images/anillos-del-poder.jpeg); }
    @media all and (min-width: 768px) {
      .box-project__juego {
        background-position: 100%; } }
  .box-project__lista {
    background-image: url(../images/lista.jpeg); }
    @media all and (min-width: 768px) {
      .box-project__lista {
        background-position: 100%; } }
  .box-project__rickmorty {
    background-image: url(../images/rickmorty.png); }
    @media all and (min-width: 768px) {
      .box-project__rickmorty {
        background-position: 40%; } }
  .box-project__icon {
    justify-content: space-around;
    display: flex;
    margin-top: 10px; }
    .box-project__icon a i {
      color: #283148; }
    .box-project__icon a i:hover {
      color: white;
      font-size: 1.5rem; }

.box-project:hover {
  transform: scale(1.05); }

/*# sourceMappingURL=main.css.map */
