.footer{
  
    color:$color-w;
    margin: 0.5rem;
 background-color: $background;
 height: 5vh;
   
    &__list{
        display: flex;
        justify-content: space-between;
       align-items: flex-end;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        @media all and (min-width: 768px) {
            margin-left: 1rem;
            margin-right: 1rem;
            
    }
    }
}