// h1 {
//     font-size:3.2em;
//   }
  .sutitle{
    @media all and (min-width: 768px) {
       
        font-size: 2rem;
}
  }
  .nav{
   height: 7vh;
   
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    
    @media all and (min-width: 768px) {
     justify-content: center;
     display: flex;
    justify-content: space-between;
}
    &__icon{
      display: none;
        
        @media all and (min-width: 768px) {
          display: flex;
          
        font-size: 2rem!important;
  }
        
    }
    &__list{
       
       
       
        display:none;
        @media all and (min-width: 768px) {
 display: flex;
 gap: 1rem;
       align-items: center;
       justify-content: space-between;
          padding: 1rem;
          font-size: 1.5rem;
          display: flex;
        
  }
        
            
    }
  }
  .title, subtitle{
    text-align: center;
  }

  .button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .button:focus,
  .button:hover {
    color: #fff;
  }
  
  .button:focus:after,
.button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  .hamburger {
    cursor: pointer;
    display: flex;
    justify-content: right;
    z-index: 4;
    position: relative;
    @media all and (min-width: 768px) {
      display: none;
}
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  
  .menu-mobile{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    cursor: pointer;
   
    @media all and (min-width: 768px) {
      display: none;
 }
  }
  .menu-mobile li a i{
    color: white;
    font-size: 1.2rem;
  }



.menu-nav ul li .active{
  transition: all 0.5s ease-out;
  color: red;
}