

.main{
  position: relative;
  top: 100px;
  text-align: center;
 
  
  
}
.wrapper-menu{
  position: absolute;
    z-index: 2;
    width: 250px;
    height: 170px;
    padding: 20px;
    background: linear-gradient(135deg, #4a6572 0%, #283148 100%);
    color: #f4f4f4; 
    right: 4%;
    top: 1%;
    // transform: translate(78%, -7%);
    text-align: left;
    border-radius: 20px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    @media all and (min-width: 768px) {
      display: none;
    }
}

.list-menu li{
  margin-top: 7px;
}
.hidden{
  display: none;
}